body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  height: 200px
}

form {
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.add-to-cart-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bfff3;
  color: #f2f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.loading-text {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
}

.cart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.product-item {
  border: 1px solid #cecece;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 100px
}

.product-item p {
  margin: 5px 0;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-size: 18px;
}

.product-quantity {
  display: flex;
  align-items: center;
}

.product-quantity button {
  padding: 5px 10px;
  margin: 1px;
  font-size: 14px;
  background-color: #007bfff3;
  color: #fcfcfc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-quantity button:hover {
  background-color: #0056b3;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.empty-cart {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #1f9231;
}

.welcome {
  font-size: 36px;
  font-weight: bold;
}

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.product-container {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
}

.product-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-container a {
  text-decoration: none;
  color: #262626;
}

.product-container a:hover {
  color: #007bfff3;
}

.product-name {
  font-weight: bold;
}

.product-price {
  margin-top: 5px;
  font-size: 18px;
}

.landing-container {
  text-align: center;
  margin: 20px;
}

.landing-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.9rem;
}
tr {
  border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    text-align: center;
}
